input[type="range"]::-webkit-slider-thumb {
    background-color: black;
}

input[type="range"]::-moz-range-thumb {
    background-color: black;
}

input[type="range"]::-ms-thumb {
    background-color: black;
}